{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class='dark'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirement Finance Calculator</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<!--Google Analytics-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GKYP54CLHE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GKYP54CLHE');
</script>

<header class="m-2">
    <!-- Header -->
    <div class="flex flex-row justify-between items-center">
        <!-- Logo -->
        <div class="flex items-center">
            <img src="{% static 'img/100x100.svg' %}" alt="Image" class="mr-2"/>
            <div class="hidden xs:block">
                <h1 class="text-xl font-bold">Retirement</h1>
                <h1 class="text-xl font-bold">Resource</h1>
            </div>
        </div>

        <!-- Mobile Menu Icon -->
        <div class="absolute right-0 top-0 mt-2 mr-2">
            <button type="button" id="menu-toggle"
                    class="text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="menu" class="absolute right-0 top-5 flex flex-col mt-2 bg-black text-white rounded-lg p-2"
         style="display: none;">
        <a href="{% url 'home' %}" class="block hover:text-blue-600">Home</a>
        <a href="{% url 'income_form' %}" class="block hover:text-blue-600">Income</a>
        <a href="{% url 'home' %}" class="block hover:text-blue-600">Current Savings</a>
        <a href="{% url 'home' %}" class="block hover:text-blue-600">Savings Projections</a>
        <a href="{% url 'home' %}" class="block hover:text-blue-600">Expenses</a>
        <a href="{% url 'home' %}" class="block hover:text-blue-600">Debt</a>
        <a href="{% url 'home' %}" class="block hover:text-blue-600">Retirement Goal</a>
        <a href="{% url 'tax_calc_form' %}" class="block hover:text-blue-600">Tax Calculator</a>
    </div>
</header>

<body>

{% block content %}
<h1>Forgot content</h1>
{% endblock content %}

<script>
    var menuToggle = document.getElementById('menu-toggle');
    var menu = document.getElementById('menu');

    // Toggle menu display when menu-toggle is clicked
    menuToggle.addEventListener('click', function (event) {
        event.stopPropagation(); // Prevent the click event from triggering the document click event listener
        if (menu.style.display === 'flex') {
            menu.style.display = 'none';
        } else {
            menu.style.display = 'flex';
        }
    });

    // Close menu when clicking anywhere else on the page
    document.addEventListener('click', function (event) {
        var target = event.target;
        if (!menu.contains(target) && target !== menuToggle) {
            menu.style.display = 'none';
        }
    });
</script>



</body>