{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="w-4/5 mx-auto bg-gray-200 p-4 rounded">
    <h2 class="text-xl font-bold">Income</h2>
    <table class="table mb-8">
        <tbody>
        <tr>
            <td class="w-48">Income:</td>
            <td class="text-right w-24">${{ income_wages|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">Dividends:</td>
            <td class="text-right w-24">${{ income_dividend|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">Interest:</td>
            <td class="text-right w-24">${{ income_interest|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">Pension:</td>
            <td class="text-right w-24">${{ income_pension|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">Social Security:</td>
            <td class="text-right w-24">${{ income_social_security|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">Other Income:</td>
            <td class="text-right w-24">${{ income_other_income|intcomma }}</td>
        </tr>
        </tbody>
    </table>

</div>
{% endblock content %}
