{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{% url 'tax_calc_output' %}" class="w-4/5 mx-auto bg-gray-200 p-4 rounded">
    {% csrf_token %}
    <div class="mb-4 p-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="tax_filing_status">Filing Status:</label>
        <select id="tax_filing_status" name="tax_filing_status" class="border border-gray-300 rounded px-3 py-2 w-full">
            <option value="single">Single</option>
            <option value="mfj">Married Filing Jointly</option>
            <option value="mfs">Married Filing Separately</option>
            <option value="hh">Head of Household</option>
            <option value="qw">Qualifying Widow</option>
        </select>
    </div>

    <div class="mb-4 p-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="tax_tax_year">Tax Year:</label>
        <input id="tax_tax_year" name="tax_tax_year" type="number" class="border border-gray-300 rounded px-3 py-2 w-full"
               value="2022"/>
    </div>

    <div class="mb-4 p-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="tax_ordinary_income">Ordinary Income:</label>
        <input id="tax_ordinary_income" name="tax_ordinary_income" type="number"
               class="border border-gray-300 rounded px-3 py-2 w-full"/>
    </div>

    <div class="mb-4 p-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="tax_capital_gains">Capital Gains:</label>
        <input id="tax_capital_gains" name="tax_capital_gains" type="number"
               class="border border-gray-300 rounded px-3 py-2 w-full"/>
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2">Calculate</button>
</form>

<script type="module">
    import {getCookie, setCookie} from '../static/admin/js/helper.js';

    // Retrieve form data from cookies
    function getFormDataFromCookies() {
        const formData = {
            tax_filing_status: getCookie('tax_filing_status'),
            tax_tax_year: getCookie('tax_tax_year'),
            tax_ordinary_income: getCookie('tax_ordinary_income'),
            tax_capital_gains: getCookie('tax_capital_gains')
        };

        // Set the form values based on the retrieved data
        document.getElementById('tax_filing_status').value = formData.tax_filing_status || 'single';
        document.getElementById('tax_tax_year').value = formData.tax_tax_year || '2022';
        document.getElementById('tax_ordinary_income').value = formData.tax_ordinary_income || '';
        document.getElementById('tax_capital_gains').value = formData.tax_capital_gains || '';
    }

    // Save form data to cookies
    function saveIncomeFormDataToCookies() {
        const formData = {
            tax_filing_status: document.getElementById('tax_filing_status').value,
            tax_tax_year: document.getElementById('tax_tax_year').value,
            tax_ordinary_income: document.getElementById('tax_ordinary_income').value,
            tax_capital_gains: document.getElementById('tax_capital_gains').value
        };

        // Set the cookies with the form data
        setCookie('tax_filing_status', formData.tax_filing_status);
        setCookie('tax_tax_year', formData.tax_tax_year);
        setCookie('tax_ordinary_income', formData.tax_ordinary_income);
        setCookie('tax_capital_gains', formData.tax_capital_gains);
    }


    // Load form data from cookies on page load
    window.addEventListener('DOMContentLoaded', getFormDataFromCookies);

    // Save form data to cookies on form submit
    const form = document.querySelector('form');
    form.addEventListener('submit', saveIncomeFormDataToCookies);
</script>
{% endblock content %}
