{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="w-4/5 mx-auto bg-gray-200 p-4 rounded">
    <h2 class="text-xl font-bold">Your Inputs</h2>
    <table class="table mb-8">
        <tbody>
        <tr>
            <td class="w-48">Filing Status:</td>
            <td class="text-right w-24">{{ tax_filing_status }}</td>
        </tr>
        <tr>
            <td class="w-48">Tax Year:</td>
            <td class="text-right w-24">{{ tax_tax_year }}</td>
        </tr>
        <tr>
            <td class="w-48">ordinary_income:</td>
            <td class="text-right w-24">${{ tax_ordinary_income|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">capital_gains:</td>
            <td class="text-right w-24">${{ tax_capital_gains|intcomma }}</td>
        </tr>
        </tbody>
    </table>

    <h2 class="text-xl font-bold mb-4">Taxable income</h2>
    <table class="table min-table mb-8">
        <tbody>
        <tr>
            <td class="w-48">Standard Deduction:</td>
            <td class="text-right w-24">${{ tax_standard_deduction|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">Taxable Ordinary Income:</td>
            <td class="text-right w-24">${{ tax_taxable_ordinary_income|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">Taxable Capital Gains:</td>
            <td class="text-right w-24">${{ tax_taxable_capital_gains|intcomma }}</td>
        </tr>
        </tbody>
    </table>

    <h2 class="text-xl font-bold mb-4">Tax</h2>
    <table class="table">
        <tbody>
        <tr>
            <td class="w-48">Tax on Ordinary Income:</td>
            <td class="text-right w-24">${{ tax_ordinary_income_tax|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">Tax on Capital Gains:</td>
            <td class="text-right w-24">${{ tax_capital_gains_tax|intcomma }}</td>
        </tr>
        <tr>
            <td class="w-48">Total Tax:</td>
            <td class="text-right w-24">${{ tax_total_tax|intcomma }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
