{% extends 'base.html' %}

{% block content %}
<div class="w-4/5 mx-auto bg-gray-200 p-4 rounded">
  <h2 class="text-xl font-bold">Your Inputs</h2>
  <table class="table">
    <tbody>
      <tr>
        <td class="w-48">Filing Status:</td>
        <td>{{ filing_status }}</td>
      </tr>
      <tr>
        <td class="w-48">Tax Year:</td>
        <td>{{ tax_year }}</td>
      </tr>
      <tr>
        <td class="w-48">ordinary_income:</td>
        <td>{{ ordinary_income }}</td>
      </tr>
      <tr>
        <td class="w-48">capital_gains:</td>
        <td>{{ capital_gains }}</td>
      </tr>
    </tbody>
  </table>

  <h2 class="text-xl font-bold">Taxable income</h2>
  <table class="table min-table">
    <tbody>
      <tr>
        <td class="w-48">Standard Deduction:</td>
        <td>{{ standard_deduction }}</td>
      </tr>
      <tr>
        <td class="w-48">Taxable Ordinary Income:</td>
        <td>{{ taxable_ordinary_income }}</td>
      </tr>
      <tr>
        <td class="w-48">Taxable Capital Gains:</td>
        <td>{{ taxable_capital_gains }}</td>
      </tr>
    </tbody>
  </table>

  <h2 class="text-xl font-bold">Tax</h2>
  <table class="table">
    <tbody>
      <tr>
        <td class="w-48">Tax on Ordinary Income:</td>
        <td>{{ ordinary_income_tax }}</td>
      </tr>
      <tr>
        <td class="w-48">Tax on Capital Gains:</td>
        <td>{{ capital_gains_tax }}</td>
      </tr>
      <tr>
        <td class="w-48">Total Tax:</td>
        <td>{{ total_tax }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
